<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="AsyncEnumerator" version="4.0.2" targetFramework="net472"/>
    <package id="FSharp.Control.AsyncSeq" version="2.0.21" targetFramework="net472"/>
    <package id="FSharp.Core" version="9.0.100-beta.24466.6" targetFramework="net472"/>
    <package id="JetBrains.Annotations" version="2024.3.0" targetFramework="net472"/>
    <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472"/>
    <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472"/>
    <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472"/>
    <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472"/>
    <package id="System.Reactive" version="6.0.1" targetFramework="net472"/>
    <package id="System.Reactive.Core" version="6.0.1" targetFramework="net472"/>
    <package id="System.Reactive.Interfaces" version="6.0.1" targetFramework="net472"/>
    <package id="System.Reactive.Linq" version="6.0.1" targetFramework="net472"/>
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472"/>
    <package id="System.Threading.Channels" version="8.0.0" targetFramework="net472"/>
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472"/>
    <package id="System.ValueTuple" version="4.5.0" targetFramework="net472"/>
</packages>